<style>
  img {
    display: block;
    width: 75px;
    border-radius: 12px;

    /* Zoom on hover */
    transition: transform .2s;
  }

  img:hover {
      transform: scale(1.2);
    }
</style>

<a href="/">
  <img alt="Blog Logo" src="/assets/Profile.png" width="75" height="50">
</a>
